.tasks_container {
    position: relative;
    width: 100%;
    max-width: 1296px;
    height: 100%;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    background: white;
}

.tasks_title {
    font-size: 26px;
    margin-bottom: 10px;
}

.tasks_close {
    position: absolute;

    right: 20px;
    top: 70px;
    width: 23px;
    height: 23px;
    background-image: url("./close.svg");
    background-size: cover;
}

.task {
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #f5f5f5;
}

.task_title {
    margin-bottom: 5px;
    font-size: 22px;
}

.task_date {
    margin-bottom: 7px;
    color: gray;
    font-size: 14px;
}

.task_desc {
    word-wrap: normal;
}